*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary;
  color: $primary;
  margin: 0;
  font-family: $font-family-base, sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-base;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0;
}
