$font-family-base: "Roboto";
$font-weight-base: 400;
$font-size-base: 1rem;
$line-height-base: 22px;
$letter-spacing-base: normal;

$primary-color: #272343;
$secondary-color: #ff6363;

/* Text Colors */
$text-dark: #272343;
$text-pink: #ff6363;
$text-white: #ffffff;
