<div class="main-wrapper">
  <div class="container">
    <div class="today-sales text-center">
      <app-today-sales></app-today-sales>
      <a href="#" class="link">View Monthly Sales</a>
    </div>

    <div class="transactions">
      <app-transactions></app-transactions>
    </div>
  </div>

  <div class="products container">
    <div class="text-center">
      <app-products></app-products>

      <div class="add-btn-container">
        <button class="btn btn-outline-dark" type="button">
          Add Custom Product
        </button>
      </div>

      <a href="" class="link">Update Prices</a>
    </div>
  </div>
</div>
