<div class="main-wrapper">
  <div class="today-sales container text-center">
    <app-today-sales></app-today-sales>
    <a href="#" class="link">View Monthly Sales</a>
  </div>

  <div class="transactions container">
    <app-transactions></app-transactions>
  </div>

  <div class="products container">
    <div>
      <app-products></app-products>

      <div class="add-btn-container">
        <button class="btn btn-outline-primary" type="button">
          Add Custom Product
        </button>
      </div>

      <a href="" class="link">Update Prices</a>
    </div>
  </div>
</div>
