<div class="product">
  <div class="details">
    <p class="price">₱12.00</p>
    <p class="name">Round Gallon</p>
  </div>
  <div class="quantity-control">
    <p class="quantity">{{ quantity }}x</p>
    <div class="controls">
      <button class="control btn btn-light" (click)="remove()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <path fill="rgb(39 35 67)" d="M5 11h14v2H5z" />
        </svg>
      </button>
      <button class="control btn btn-light" (click)="add()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <path fill="rgb(255 99 99)" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" />
        </svg>
      </button>
    </div>
  </div>
  <button
    class="btn-submit btn"
    type="button"
    (click)="openConfirmModal(confirmModal)"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
    >
      <path
        fill="rgb(39 35 67)"
        d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z"
      />
    </svg>
  </button>
</div>

<ng-template #confirmModal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Purchase</h4>
  </div>
  <div class="modal-body">
    <div class="confirm-details">
      <p class="confirm-quantity">{{ quantity }}x</p>
      <p class="confirm-product">Round Gallon</p>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      data-dismiss="modal"
      (click)="confirmModalRef.hide()"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="confirmQuantity()">
      Confirm
    </button>
  </div>
</ng-template>
